<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.whyproject">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="나한테 왜그래?!"
        android:roundIcon="@mipmap/why_ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">
        <activity android:name=".GGang"
            android:hardwareAccelerated="true"></activity>
        <activity
            android:name=".GameRanking"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".CreatePassword" />
        <activity android:name=".PasswordActivity" />
        <activity android:name=".Chart" android:parentActivityName=".WhoteaseActivity"/>
        <activity android:name=".Punch" android:parentActivityName=".MainActivity"/>
        <activity android:name=".RandomPicker" android:parentActivityName=".MainActivity"/>
        <activity android:name=".Trashcan" android:parentActivityName=".MainActivity"/>
        <activity android:name=".WhoteaseActivity" android:parentActivityName=".MainActivity"/>
        <activity android:name=".MainActivity" />
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>